.w-pagination-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.w-pagination-previous {
  display: block;
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  display: block;
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

.w-pagination-page-count {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #2346a3;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

p {
  margin-bottom: 20px;
  color: #7e7e7e;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

li {
  color: #7e7e7e;
}

.section {
  background-image: url('../images/rectangle-22x.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.section.hero-about-us {
  background-image: url('../images/about-us.png');
}

.navbar {
  background-color: transparent;
}

.brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading {
  color: #fff;
  font-weight: 400;
}

.bold-text {
  font-family: Montserrat, sans-serif;
}

.nav-link {
  display: none;
  font-family: Helveticaneuelt;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link.w--current {
  color: #fff;
}

.heading-2 {
  margin-top: 70px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 6px #000;
}

.heading-2.owners {
  color: #333;
  text-shadow: none;
}

.text-block {
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.submit-button {
  background-color: #17378e;
  font-weight: 500;
}

.text-field {
  height: 40px;
}

.div-block {
  margin: 50px auto;
}

.button {
  margin-top: 4%;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 3px;
  background-color: #fff;
  color: #17378e;
  font-weight: 500;
}

.nav-menu {
  margin-top: 1%;
}

.body {
  font-family: Lato, sans-serif;
  font-weight: 500;
}

.text-block-2 {
  color: #7e7e7e;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
}

.div-block-4 {
  width: 95px;
  height: 81px;
  margin-right: auto;
  margin-bottom: 8%;
  margin-left: auto;
  background-image: url('../images/group-12.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-2 {
  padding-top: 5%;
  padding-bottom: 4%;
}

.section-3 {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f6f6f9;
}

.heading-3 {
  margin-top: 0px;
  font-family: 'Helvetica neu';
}

.heading-3.banner {
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.heading-3.owners {
  text-align: center;
}

.div-block-8 {
  display: block;
  width: 55px;
  height: 55px;
  margin-right: auto;
  margin-bottom: 8%;
  margin-left: auto;
  border-radius: 100%;
  background-image: url('../images/rectangle_23x.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-8.testimonial-2 {
  background-image: url('../images/rectangle-copy-3_23x.png');
  background-size: cover;
}

.paragraph {
  padding-right: 50px;
  color: #7e7e7e;
  font-size: 11px;
  line-height: 17px;
}

.text-block-3 {
  color: #7e7e7e;
  font-size: 12px;
  text-align: right;
}

.section-4 {
  padding-top: 5%;
}

.section-5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .34)), to(rgba(0, 0, 0, .34))), url('../images/bitmap.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .34), rgba(0, 0, 0, .34)), url('../images/bitmap.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.form-block {
  margin-top: 5%;
  color: #fff;
}

.heading-4 {
  color: #fff;
  font-weight: 500;
}

.text-block-4 {
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.submit-button-2 {
  width: 100px;
}

.section-6 {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #0e1d71;
  color: #fff;
}

.footer-menu {
  line-height: 28px;
  text-decoration: none;
}

.div-block-11 {
  height: 100px;
}

.text-block-7 {
  font-size: 12px;
  text-align: center;
}

.div-block-12 {
  width: 200px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.warehouse-city {
  width: 200px;
  color: #17378e;
  font-weight: 700;
}

.text-block-9 {
  margin-right: auto;
  margin-left: auto;
  color: #7e7e7e;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.text-block-10 {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  color: #7e7e7e;
  font-size: 20px;
  line-height: 30px;
}

.text-block-11 {
  display: inline-block;
  color: #7e7e7e;
  font-size: 17px;
  line-height: 30px;
}

.collection-list-wrapper {
  margin-top: 3%;
  margin-bottom: 3%;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  background-image: url('../images/facebook-icon3x.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/twitter-icon3x.png');
  background-position: 50% 50%;
  background-size: cover;
}

.link-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: auto;
  background-image: url('../images/combined-shape3x.png');
  background-position: 50% 50%;
  background-size: cover;
}

.heading-5 {
  margin-top: 0px;
  font-weight: 500;
}

.column-7 {
  font-weight: 500;
}

.field-label {
  font-weight: 500;
}

.field-label-2 {
  font-weight: 500;
}

.field-label-3 {
  font-weight: 500;
}

.section-7 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .25)), to(rgba(0, 0, 0, .25))), url('../images/home-img.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/home-img.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.section-7.home {
  background-image: url('../images/rectangle-2.png');
  background-position: 73% 0%;
  background-size: auto;
  background-repeat: no-repeat;
}

.button-3 {
  width: 110px;
  background-color: #17378e;
  font-weight: 500;
  text-align: center;
}

.div-block-17 {
  width: 95px;
  height: 81px;
  margin-right: auto;
  margin-bottom: 8%;
  margin-left: auto;
  background-image: url('../images/group-2.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-18 {
  width: 95px;
  height: 81px;
  margin-right: auto;
  margin-bottom: 8%;
  margin-left: auto;
  background-image: url('../images/group-10.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-19 {
  width: 95px;
  height: 81px;
  margin-right: auto;
  margin-bottom: 8%;
  margin-left: auto;
  background-image: url('../images/group-13.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.heading-6 {
  font-weight: 700;
  text-align: center;
}

.section-8 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.header_button {
  width: 110px;
  margin: 50px auto;
}

.section-9 {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f6f6f9;
}

.heading-10 {
  margin-top: 0px;
  margin-bottom: 5%;
  text-align: center;
}

.div-block-21 {
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/group-14.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-21.cutomers {
  background-image: url('../images/group-15.svg');
}

.div-block-21.earnings {
  background-image: url('../images/group-16.svg');
}

.text-block-12 {
  color: #7e7e7e;
  font-size: 11px;
  font-weight: 500;
}

.div-block-24 {
  margin-top: 5%;
}

.section-10 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .64)), to(rgba(0, 0, 0, .64))), url('../images/ownercontact-img.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .64), rgba(0, 0, 0, .64)), url('../images/ownercontact-img.jpg');
  background-position: 0px 0px, 50% 2%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.heading-12 {
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.section-11 {
  background-image: url('../images/blog-page-pattern.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-26 {
  margin-bottom: 10%;
}

.heading-13 {
  line-height: 50px;
}

.div-block-27 {
  width: 200px;
  height: 200px;
  margin-right: auto;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-block-13 {
  color: #17378e;
}

.paragraph-2 {
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 500;
}

.collection-item-2 {
  padding-bottom: 5%;
  border-bottom: 1px solid #c2c5cd;
}

.heading-14 {
  color: #1f45ac;
}

.div-block-28 {
  width: 100%;
  height: 360px;
  margin-bottom: 5%;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-block-14 {
  width: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  background-image: url('../images/share-material.svg');
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;
  color: #42bac6;
  text-align: right;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.navbar-2 {
  background-color: #17378e;
}

.error-message {
  background-color: #ff1d1d;
}

.success-message {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #0e1d71;
}

.heading-15 {
  font-family: 'Helvetica neu';
}

.text-block-15 {
  font-family: Helveticaneuelt;
  font-size: 17px;
  font-weight: 100;
}

.section-12 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 0, 0, .38)), to(rgba(5, 0, 0, .38))), url('../images/register-img.jpg');
  background-image: linear-gradient(180deg, rgba(5, 0, 0, .38), rgba(5, 0, 0, .38)), url('../images/register-img.jpg');
  background-position: 0px 0px, 50% 38%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.container-3 {
  margin-top: 10%;
}

.link-3 {
  color: #7e7e7e;
  font-weight: 500;
  text-decoration: none;
}

.link-4 {
  color: #0420c2;
  font-weight: 500;
  text-decoration: none;
}

.container-4 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.heading-16 {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #7e7e7e;
  font-weight: 600;
  text-align: center;
}

.ball-3 {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
  background-color: #f3f4f8;
  color: #84828f;
  text-align: center;
}

.ball-selected {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
  background-color: #0e1d71;
  color: #fff;
  text-align: center;
}

.ball-2 {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
  background-color: #f3f4f8;
  color: #84828f;
  text-align: center;
}

.column-10 {
  background-image: url('../images/line.svg');
  background-position: 50% 38%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.ball-1 {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
  background-color: #f3f4f8;
  color: #84828f;
  text-align: center;
}

.ball-1.ball-selected {
  display: block;
  background-color: #0e1d71;
  color: #fff;
}

.heading-17 {
  display: block;
  margin-right: 3px;
  color: #0e1d71;
  font-size: 9px;
  text-align: right;
}

.heading-18 {
  font-size: 9px;
  text-align: center;
}

.heading-19 {
  margin-left: 4px;
  font-size: 9px;
}

.column-11 {
  color: #84828f;
}

.div-block-31 {
  font-weight: 500;
}

.business {
  overflow: hidden;
}

.form {
  min-height: 500px;
  padding-right: 20%;
  padding-left: 20%;
  color: #7e7e7e;
}

.heading-20 {
  margin-bottom: 5%;
}

.registration-input {
  width: 100%;
  height: 40px;
  border-style: none;
  background-color: #f3f4f8;
  font-weight: 300;
}

.registration-input.apply-description {
  height: 100px;
  max-height: 100px;
  max-width: 100%;
}

.registration-input.hide {
  display: none;
}

.register-button {
  display: block;
  width: 100px;
  border-style: none;
  border-radius: 5%;
  background-color: #42bac6;
  text-align: center;
}

.div-block-32 {
  width: 100px;
  margin-top: 8%;
  margin-left: auto;
}

.property {
  display: none;
}

.services {
  display: none;
}

.register-sumit {
  width: 100px;
  border-style: none;
  border-radius: 5%;
  background-color: #42bac6;
}

.select-field {
  background-color: #f3f4f8;
  font-weight: 300;
}

.columns {
  font-weight: 500;
}

.columns-2 {
  display: block;
}

.columns-5 {
  margin-top: 8%;
  margin-bottom: 8%;
}

.service-img {
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/dollar-symbol.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.service-img.flexible {
  background-image: url('../images/contract.svg');
  background-size: contain;
}

.service-img.minimums {
  background-image: url('../images/group-43x.png');
  background-size: contain;
}

.service-img.scalable {
  background-image: url('../images/icon-33x.png');
  background-size: contain;
}

.service-img.access {
  background-image: url('../images/icon-53x.png');
  background-position: 50% 100%;
  background-size: auto 75px;
}

.heading-21 {
  height: 50px;
  color: #4d5157;
  font-weight: 700;
  text-align: center;
}

.heading-21.one-line {
  padding-top: 10px;
  font-weight: 700;
}

.text-block-16 {
  color: #7e7e7e;
  font-size: 13px;
  text-align: center;
}

.text-span {
  color: #ff0808;
}

.columns-6 {
  margin-bottom: 5%;
  text-align: center;
}

.div-block-33 {
  width: 110px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.button-5 {
  width: 100%;
  background-color: #17378e;
}

.section-14 {
  min-height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url('../images/banner-img.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/banner-img.jpg');
  background-position: 0px 0px, 50% 71%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.container-5 {
  padding-top: 100px;
}

.div-block-34 {
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #fff;
  text-align: center;
}

.text-block-17 {
  color: #fff;
}

.link-block-4 {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: none;
}

.columns-7 {
  margin-top: 5%;
}

.section-15 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .48)), to(rgba(0, 0, 0, .48))), url('../images/register-img.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .48), rgba(0, 0, 0, .48)), url('../images/register-img.jpg');
  background-position: 0px 0px, 50% 29%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.text-block-19 {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.div-block-35 {
  padding-top: 8%;
  padding-bottom: 8%;
}

.paragraph-3 {
  margin-bottom: 0px;
  color: #4d5157;
}

.section-16 {
  text-align: center;
}

.div-block-36 {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #17378e;
}

.div-block-37 {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-size: 17px;
  font-style: italic;
  font-weight: 300;
}

.div-block-38 {
  padding-top: 4%;
  padding-bottom: 4%;
  color: #fff;
}

.paragraph-4 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.heading-22 {
  margin-top: 0px;
}

.carrer-tab {
  background-color: transparent;
  color: #7e7e7e;
}

.carrer-tab.w--current {
  background-color: transparent;
  color: #17378e;
}

.button-6 {
  display: none;
}

.button-7 {
  display: none;
}

.back-step-div {
  width: 100px;
  margin-top: 8%;
}

.section-17 {
  padding-top: 2%;
}

.collection-list {
  margin-top: 20px;
  margin-bottom: 5%;
}

.career-item {
  width: 100%;
  margin-bottom: 10px;
  padding: 1% 2%;
  border: 2px solid #fff;
  background-image: url('../images/arrow.svg');
  background-position: 95% 50%;
  background-size: auto 30px;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 0 #000;
}

.career-item:hover {
  border: 2px solid #17378e;
  background-color: #ecf1ff;
}

.heading-23 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #17378e;
}

.text-block-21 {
  color: #7e7e7e;
}

.heading-24 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #4d5157;
}

.tabs-menu {
  border-bottom: 1px solid #17378e;
}

.tabs-content {
  padding-right: 10px;
  padding-left: 10px;
}

.link-block-5 {
  width: 100%;
  color: #000;
  text-decoration: none;
}

.collection-item-4 {
  padding-right: 3px;
  padding-left: 3px;
}

.section-18 {
  background-color: #17378e;
}

.careers-img-section {
  height: 200px;
  background-image: url('../images/pingpong-img.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-15 {
  height: 200px;
  background-image: url('../images/fusball-img.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-15.careers-img-section {
  background-position: 50% -23px;
}

.section-20 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .44)), to(rgba(0, 0, 0, .44))), url('../images/careers-img.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .44), rgba(0, 0, 0, .44)), url('../images/careers-img.jpg');
  background-position: 0px 0px, 50% -90px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.section-21 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.div-block-39 {
  margin-top: 5%;
}

.heading-26 {
  margin-bottom: 0px;
  color: #17378e;
  font-weight: 500;
}

.heading-27 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #7e7e7e;
}

.text-block-22 {
  color: #7e7e7e;
  font-size: 12px;
}

.rich-text-block {
  margin-top: 5%;
  color: #4d5157;
}

.div-line {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid #1145d4;
}

.form-block-2 {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .5);
}

.div-block-40 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #17378e;
  color: #fff;
  text-align: center;
}

.heading-28 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-2 {
  padding: 3% 5%;
  color: #7e7e7e;
}

.require-asterisc {
  color: red;
}

.div-block-41 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-block-42 {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}

.submit-button-3 {
  display: none;
  width: 100%;
  border-radius: 2%;
  background-color: #42bac6;
  text-align: center;
}

.apply-btn {
  display: inline-block;
  width: 100%;
  border-radius: 2%;
  background-color: #42bac6;
  text-align: center;
}

.column-16 {
  display: none;
}

.arrow-owners {
  position: absolute;
  top: 20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background-image: url('../images/arrow-owners.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-6 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #17378e;
}

.heading-29 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #17378e;
  line-height: 40px;
  text-align: right;
}

.newsletter-input {
  display: inline-block;
  width: 75%;
  height: 40px;
  margin-bottom: 0px;
  border-style: none;
  background-color: #f3f4f8;
  font-weight: 300;
}

.newsletter-btn {
  display: inline-block;
  width: 23%;
  height: 40px;
  float: right;
  border-radius: 2%;
  background-color: #42bac6;
  text-align: center;
}

.success-message-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.banner-heading {
  color: #fff;
  font-weight: 400;
}

.heading-30 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 6px #000;
}

.heading-31 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 6px #000;
}

.container-7 {
  padding-top: 5%;
  padding-bottom: 10%;
}

.container-8 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.heading-32 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #4d5157;
}

.paragraph-5 {
  margin-bottom: 5%;
  color: #7e7e7e;
  font-weight: 400;
}

.div-block-43 {
  background-color: #f6f6f9;
}

.heading-33 {
  padding-top: 3%;
  padding-bottom: 3%;
  color: #7e7e7e;
  text-align: center;
}

.heading-34 {
  margin-top: 5%;
  color: #4d5157;
}

.ab-us-icon {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/Customers.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.ab-us-icon.simplify {
  background-image: url('../images/group-5-1.svg');
}

.ab-us-icon.entrepreneur {
  background-image: url('../images/shape-copy-3.svg');
}

.ab-us-icon.have-fun {
  background-image: url('../images/have-fun.svg');
}

.ab-us-icon.be-open {
  background-image: url('../images/shape-copy-2.svg');
  background-size: 60px;
}

.ab-us-icon.innovate {
  background-image: url('../images/group-6.svg');
}

.heading-35 {
  color: #4d5157;
  text-align: center;
}

.text-block-23 {
  display: block;
  width: 132px;
  margin-right: auto;
  margin-left: auto;
  color: #7e7e7e;
  font-size: 12px;
  text-align: left;
}

.columns-8 {
  margin-top: 30px;
}

.section-22 {
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url('../images/banner-img.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/banner-img.jpg');
  background-position: 0px 0px, 0px -319px;
  background-size: auto, cover;
}

.text-block-24 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.html-embed {
  margin: 20px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body-2 {
  display: block;
  font-family: Lato, sans-serif;
}

.section-23 {
  background-image: url('../images/blog-page-pattern.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.submit-button-4 {
  background-color: #42bac6;
}

.text-block-25 {
  font-size: 17px;
  font-weight: 100;
}

.section-24 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .34)), to(rgba(0, 0, 0, .34))), url('../images/bitmap.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .34), rgba(0, 0, 0, .34)), url('../images/bitmap.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.tabs-menu-2 {
  margin-bottom: 3%;
  color: #7e7e7e;
}

.tab-link-tab-1 {
  background-color: #fff;
}

.tab-wl {
  width: 15%;
  border-right: 1px solid #cecece;
  background-color: transparent;
  background-image: url('../images/calendar-icon.svg');
  background-position: 35px 50%;
  background-size: auto 11px;
  background-repeat: no-repeat;
  color: #7a7a7a;
  text-align: center;
}

.tab-wl.w--current {
  background-color: transparent;
}

.tab-wl.price {
  background-image: url('../images/price-icon.svg');
  background-position: 39px 50%;
  background-size: auto 12px;
  font-size: 14px;
  line-height: 20px;
}

.tab-wl.size {
  background-image: url('../images/house-icon.svg');
  background-position: 36px 51%;
  background-size: auto 10px;
}

.section-25 {
  overflow: hidden;
  padding-top: 5%;
  padding-bottom: 5%;
}

.link-block-6 {
  color: #7c7c7c;
  text-decoration: none;
}

.wh-det-icon {
  width: 100%;
  height: 60px;
  background-image: url('../images/detail-wh-icon.svg');
  background-position: 50% 50%;
  background-size: auto 45px;
  background-repeat: no-repeat;
}

.wh-det-icon.space {
  background-image: url('../images/detail-wh-icon2.svg');
  background-size: auto 40px;
}

.wh-det-icon.availability {
  background-image: url('../images/detail-wh-icon3.svg');
  background-size: auto 45px;
}

.wh-det-icon.loaction {
  background-image: url('../images/detail-wh-icon4.svg');
  background-size: auto 40px;
}

.heading-36 {
  color: #4d5157;
  font-weight: 700;
  text-align: center;
}

.text-block-26 {
  display: block;
  color: #7e7e7e;
  text-align: center;
}

.div-block-44 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button-8 {
  display: block;
  width: 20%;
  height: 45px;
  margin: 5% auto;
  background-color: #42bac6;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.div-block-45 {
  display: block;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  padding-left: 2px;
  border: 2px solid #000;
  border-radius: 100px;
}

.div-block-46 {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: #000;
}

.div-block-47 {
  width: 0px;
  height: 100px;
  border: 1px solid #000;
}

.text-block-27 {
  display: inline-block;
  margin-left: 5px;
  color: #7e7e7e;
}

.div-block-48 {
  display: block;
  width: 70px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

.text-block-278 {
  display: inline;
  color: #7e7e7e;
  text-align: center;
}

.text-block-279 {
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-49 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: #7e7e7e;
}

.text-block-280 {
  display: inline-block;
  margin-left: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-block-281 {
  display: inline-block;
  margin-left: 5px;
  color: #7e7e7e;
}

.section-26 {
  height: 400px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: url('../images/adobe-stock-124111240-preview2x.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-37 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.button-9 {
  display: block;
  width: 20%;
  margin: 8% auto;
  background-color: #42bac6;
  font-weight: 700;
  text-align: center;
}

.text-block-282 {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7e7e7e;
  font-size: 20px;
  line-height: 30px;
}

.text-block-282.symbol {
  font-size: 16px;
  letter-spacing: 0px;
}

.text-block-282.side {
  margin-left: 5px;
  font-size: 16px;
}

.availability {
  display: block;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

.price {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7e7e7e;
  font-size: 20px;
  line-height: 30px;
}

.price.side {
  margin-left: 5px;
}

.div-block-50 {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.pallets {
  display: block;
  width: 90px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

.column-17 {
  font-size: 20px;
}

.link-block-7 {
  text-decoration: none;
}

.link-block-8 {
  display: inline;
  width: 100%;
  text-decoration: none;
}

.link-block-9 {
  text-decoration: none;
}

.heading-38 {
  color: #7e7e7e;
}

.text-block-283 {
  font-weight: 700;
}

.text-block-284 {
  font-weight: 700;
}

.text-block-285 {
  font-weight: 700;
}

.text-block-286 {
  font-weight: 700;
}

.text-block-287 {
  font-weight: 700;
}

.text-block-288 {
  font-weight: 700;
}

.nav-link-2 {
  color: #fff;
  text-transform: uppercase;
}

.div-block-51 {
  width: 100%;
  height: 500px;
  background-image: url('../images/Map-with-icon-and-address.jpg');
  background-position: 50% 74%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-27 {
  padding: 1%;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-block-52 {
  width: 100%;
  height: 300px;
}

.logitude {
  display: block;
}

.latitude {
  display: none;
}

.longitude {
  display: none;
}

.warehouse-location {
  color: #7e7e7e;
  font-weight: 700;
}

.warehouse-price {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7e7e7e;
}

.warehouse-price.side {
  margin-left: 5px;
}

.warehouse-size {
  display: inline-block;
  color: #7e7e7e;
}

.warehouse-row {
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 16px;
  line-height: 40px;
}

.warehouse-row:hover {
  background-color: #ededed;
}

.warehouse-sort-title {
  color: #7e7e7e;
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
}

.columns-9 {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.div-block-54 {
  margin-top: 5%;
  padding-right: 10px;
  padding-left: 10px;
}

.column-19 {
  background-image: url('../images/Table-Arrows.png');
  background-position: 95% 50%;
  background-size: 10px 11px;
  background-repeat: no-repeat;
}

.column-19.loaction.active {
  background-color: #f5f5f5;
}

.column-19.active {
  background-color: #f5f5f5;
}

.previous {
  position: static;
}

.pagination-2 {
  margin-top: 2%;
}

.page-count {
  margin-top: 0px;
}

@media (max-width: 991px) {
  .paragraph {
    padding-right: 0px;
    padding-left: 10px;
  }
  .icon {
    color: #fff;
  }
  .collection-item {
    margin-bottom: 5%;
  }
  .div-block-27 {
    width: 150px;
    height: 150px;
  }
  .collection-item-2 {
    padding-right: 3%;
    padding-left: 3%;
  }
  .column-9 {
    padding-left: 0px;
  }
  .service-img {
    width: 70px;
    height: 70px;
  }
  .heading-21 {
    font-size: 15px;
  }
  .text-block-16 {
    font-size: 11px;
  }
  .div-block-36 {
    width: 75%;
  }
  .div-block-37 {
    width: 80%;
  }
  .div-block-51 {
    height: 400px;
    background-position: 50% 50%;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .nav-link {
    display: block;
    font-family: Lato, sans-serif;
    text-align: center;
  }
  .nav-link.w--current {
    display: block;
    color: #fff;
  }
  .heading-2 {
    font-size: 20pt;
  }
  .nav-menu {
    margin-top: -1%;
    background-color: #17378e;
  }
  .heading-3 {
    margin-left: 10px;
  }
  .text-block-3 {
    margin-bottom: 5%;
  }
  .footer-menu {
    text-align: center;
  }
  .row-2 {
    margin-top: 30px;
  }
  .heading-5 {
    margin-left: 10px;
  }
  .text-block-12 {
    margin-bottom: 5%;
  }
  .div-block-24 {
    margin-top: 15%;
  }
  .heading-13 {
    text-align: center;
  }
  .div-block-27 {
    margin-left: auto;
  }
  .container-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .navbar-2 {
    background-color: transparent;
  }
  .div-block-32 {
    margin-right: auto;
  }
  .columns-2 {
    display: block;
  }
  .column-13 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu-button.w--open {
    background-color: #17378e;
  }
  .section-13 {
    height: 300px;
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .heading-21 {
    font-size: 16px;
  }
  .heading-21.one-line {
    height: auto;
  }
  .text-block-16 {
    margin-bottom: 30px;
    font-size: 12px;
  }
  .div-block-36 {
    width: 85%;
  }
  .div-block-37 {
    width: 90%;
  }
  .back-step-div {
    margin-right: auto;
  }
  .heading-25 {
    margin-left: 10px;
  }
  .heading-29 {
    text-align: center;
  }
  .heading-30 {
    font-size: 20pt;
  }
  .heading-31 {
    font-size: 20pt;
  }
  .container-8 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .rich-text-blog {
    font-size: 16px;
  }
  .submit-button-5 {
    background-color: #42bac6;
  }
  .nav-link-2 {
    text-align: center;
  }
  .div-block-51 {
    height: 300px;
    background-image: url('../images/Map-with-icon-and-address.jpg');
    background-position: 92% 50%;
    background-size: 202%;
  }
}

@media (max-width: 479px) {
  .section.hero-about-us {
    background-position: -131px 0px;
  }
  .nav-link {
    font-family: Lato, sans-serif;
  }
  .heading-2 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14pt;
    line-height: 25px;
  }
  .submit-button {
    width: 100%;
  }
  .text-field {
    text-align: center;
  }
  .nav-menu {
    background-color: #17378e;
  }
  .heading-12 {
    font-size: 25px;
  }
  .div-block-27 {
    width: 100%;
  }
  .text-block-13 {
    text-align: left;
  }
  .form {
    padding-right: 10%;
    padding-left: 10%;
  }
  .columns {
    text-align: center;
  }
  .columns-2 {
    text-align: center;
  }
  .menu-button {
    background-color: transparent;
  }
  .div-block-36 {
    width: 90%;
  }
  .heading-30 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14pt;
    line-height: 25px;
  }
  .heading-31 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14pt;
    line-height: 25px;
  }
  .ab-us-icon {
    margin-top: 10%;
  }
  .text-block-23 {
    text-align: left;
  }
  .html-embed {
    overflow: hidden;
    height: 200px;
  }
  .submit-button-5 {
    width: 100%;
  }
  .div-block-51 {
    height: 500px;
    background-image: url('../images/Mobile-map-address.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }
}

#w-node-44eb049a6ec9-883002d4 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

